.title{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: rgb(0, 176, 206);
}
.container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}
.previous{
    background: linear-gradient(218deg, rgba(0,176,206,1) 0%, rgba(0,176,206,0.3) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    width: 113px;
    height: 107.53px;
    cursor: pointer;
}
.previous:hover{
    scale: 95%;
}
.previous img{
    height: 30%;
}
.next{  
    background: linear-gradient(218deg, rgba(0,176,206,1) 0%, rgba(0,176,206,0.3) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    width: 113px;
    height: 107.53px;
    cursor: pointer;
}
.next:hover{
    scale: 95%;
}
.next img{
    height: 30%;
}
.active{
    background: linear-gradient(218deg, rgba(0,176,206,1) 0%, rgba(0,176,206,0.3) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 216.49px;
    height: 206px;
    border-radius: 30px;
}
.inactive{
    background: linear-gradient(218deg, rgba(0,176,206,1) 0%, rgba(0,176,206,0.3) 100%);
    opacity: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 216.49px;
    height: 206px;
    border-radius: 30px;
}
img{
    height: 25%;
}